:root {
    --font-family-primary: "Rubik", serif;
    --text-sm: 16px;
    --text-base: 20px;
    --text-md: 24px;
    --text-lg: 32px;
    --text-xl: 48px;
    --color-white: white;
    --color-black: #000000;
    --color-black-2: #00060C;
    --color-voilet: #4A4C7B;
    --color-grey: #8F9090;
    --color-blue: #006EE6;
    --color-yellow: #EBA82C;
    --color-yellow-2: #FEBE32;
    --shadow: #00000040;
    --bg-light-white: #F5F5F5;
}

.font-family-primary {
    font-family: var(--font-family-primary);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-base {
    font-size: var(--text-base);
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.color-black {
    color: var(--color-black);
}

.color-black-2 {
    color: var(--color-black-2);
}

.color-voilet {
    color: var(--color-voilet);
}

.color-grey {
    color: var(--color-grey);
}

.color-blue {
    color: var(--color-blue);
}

.color-yellow {
    color: var(--color-yellow);
}

.color-yellow-2 {
    color: var(--color-yellow-2);
}

.bg-blue {
    background: var(--color-blue);
}

.bg-yellow-2 {
    background: var(--color-yellow-2);
}

.bg-light-white {
    background: var(--bg-light-white);
}

.bg-red {
    background: var(--color-red);
}

.shadow {
    color: var(--shadow);
}

@media (max-width:991.98px) {
    :root {
        --text-xl: 40px;
    }
}

@media (max-width:767.98px) {
    :root {
        --text-xl: 32px;
    }
}

@media (max-width:575.98px) {
    :root {
        --text-xl: 24px;
    }
}