@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(./root.css);

.bg-img {
    background-image: url(../img/png/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 810px; */
}

/*-------------------------------------- max-width------------------------------------ */
.max-w-1140 {
    max-width: 1140px;
}

.max-w-679 {
    max-width: 679px;
}

.max-w-379 {
    max-width: 379px;
}

/* -------------------------------------line-height------------------------------------------- */
.lh-18 {
    line-height: 18.96px;
}

.lh-24 {
    line-height: 24px;
}

.lh-56 {
    line-height: 56.88px;
}

.opacity-70 {
    opacity: 70%;
}

.opacity-78 {
    opacity: 78%;
}

.gap-24 {
    gap: 24px;
}

/* --------------------------------------------margin padding------------------------------------------ */
.ml-16 {
    margin-left: 16px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.py-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

/* ------------------------------------------------hero section------------------------------ */
.heading {
    top: 15%;
    left: 10%;
}

.contant {
    bottom: 0%;
    right: 2%;
}

.play-btn {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.scroll-btn {
    padding: 22.55px 20.17px;
    border-radius: 108.64px;
    backdrop-filter: blur(9.492682456970215px);
    border: 0.53px solid #FFFFFF33;
    background: #FFFFFF0A;
    margin-bottom: 16.18px;
}


.slick-dots li button:before {
    opacity: 0 !important;
}

.slick-track {
    display: flex !important;
    gap:350px !important;
}

.slick-dots li {
    transition: 0.3s !important;
}

.slick-dots {
    right: 44% !important;
}

.slick-dots li {
    width: 40px;
    background-color: #4D5271;
    border-radius: 10px;
    height: 6px !important;
}

.slick-dots .slick-active {
    background-color: var(--color-blue);
    border-radius: 10px;
    height: 6px;
}

.mt-60 {
    margin-top: 60px;
}


/* -----------------------------------------------navbar-------------------------- */
.btn {
    border-radius: 51px;
    transition: all 0.3s ease-in-out;
}

.nav-shadow {
    z-index: 5;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-shadow.scrolled {
    background-color: var(--color-voilet);
    border: 1px solid #FFFFFF33;
}


.btn:hover {
    background: var(--color-white);
    color: var(--color-blue) !important;
}

.shadow-blur {
    backdrop-filter: blur(30px);
    border: 1px solid #FFFFFF33;
}

.navbar-link {
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
    color: var(--color-blue) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.main-heading-box {
    transition: all 200ms linear;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background: var(--color-white) !important;
    position: relative;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.bg-transparent {
    opacity: 0;
}

/*---------------------------------------------------- card section------------------------------------- */
.max-w-643 {
    max-width: 643px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.max-w-244 {
    max-width: 244px;
}

.card {
    border-radius: 30px;
    /* padding: 20px 30px; */
}

.opacity-15 {
    opacity: 15%;
}

.lh-48 {
    line-height: 48px;
}

.card-heading {
    text-align: center;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.card-content {
    bottom: 5%;
    left: 5%;
}

.card-container {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

.card-container:hover {
    transform: translateY(-50px);
}

.card-container:hover .card-heading {
    top: auto;
    bottom: 5%;
    transform: translateX(-50%);
    text-align: center;
}

.card-container img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.card-container {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.top-55 {
    top: 55%;
}

.left-20 {
    left: -20%;
}

.blur-box {
    backdrop-filter: blur(10px);
    border: 1px solid #FFFFFF33;
    width: 405px;
    height: 405px;
    border-radius: 100%;
    right: 0;
}

/* Hide overlay initially */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #00000066;
    border: 1px solid #FFFFFF33;
    backdrop-filter: blur(30px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Hide card content */
.card-content {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* On hover */
.card-container:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.card-container:hover .card-content {
    opacity: 0;
}

.card-container:hover .blur-box {
    display: none;
}

.card-container:hover .overlay {
    opacity: 5;
}

.card-container:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* ------------------------------------------------------------grid-------------------------------------- */
.border-30 {
    border-radius: 30px;
    border: 2px solid #00060C33;
}

.max-w-558 {
    max-width: 558px;
}

.grid {
    display: grid;
    grid-row: auto;
    grid-column: auto;
    border-radius: 30px;
    gap: 24px;
}

.grid-item-1 {
    grid-row: 1/3;
    grid-column: 1/2;
}

.grid-item-2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item-3 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.grid-item-4 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.grid-item-5 {
    grid-row: 3/4;
    grid-column: 2/3;
}

/* -------------------------------------------ready section------------------------------------------------------ */
.mt-54 {
    margin-top: 54px;
}

.ready-bg {
    background-image: url(../img/png/ready-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

/* ---------------------------------------------------faq------------------------------- */
.lh-26 {
    line-height: 26.4px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pt-130 {
    padding-top: 130px;
}

.accordion-collapse {
    transition: all 0.4s ease-in-out !important;
}

.accordion-button:not(.collapsed) {
    color: var(--color-blue) !important;
    background-color: unset !important;
    box-shadow: unset !important;
    transition: color 0.3s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    filter: unset !important;
}

.accordion {
    --bs-accordion-border-color: unset !important;
    --bs-accordion-btn-focus-box-shadow: unset !important;
    --bs-accordion-active-color: unset !important;
    --bs-accordion-active-bg: unset !important;
    max-width: 830px !important;
}

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    max-width: 697px;
}

.mx-w-697 {
    max-width: 697px;
}

/* ------------------------------------------------------contact--------------------------------- */
.pt-48 {
    padding-top: 48px;
}

.pt-50 {
    padding-top: 50px;
}

.mt-115 {
    margin-top: 115px;
}

.phone-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #E6F1FD;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.phone-card:hover {
    box-shadow: 0px 4px 16px 0px #1A2C0014;
    border: none;
}

.phone-card:hover .phone-circle {
    background: var(--color-blue);

}

.phone-card {
    position: relative;
    max-width: 364px;
    height: 215px;
    border-radius: 10px;
    border: 1px solid #0000001A;
    transition: 0.3s ease;
}

.phone-card:hover .phone-circle svg path {
    fill: var(--color-white);
}

.phone-circle {
    top: -18%;
    left: 40%;
}

/* -----------------------------------------footer--------------------------------------- */
.mx-w-324 {
    max-width: 324px;
}

.footer-tags {
    width: 50px;
    height: 50px;
    border-radius: 131px;
    background: #E6F1FD1A;
    backdrop-filter: blur(71.56px);
    box-shadow: 0px 4px 20px 0px #00000033;
    transition: 0.3s ease, box-shadow 0.3s ease;
}

.footer-tags:hover {
    background: var(--color-blue);
    opacity: 78%;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.4);
}

.pt-65 {
    padding-top: 65px;
}

.footer-links {
    transition: all 200ms linear;
}

.footer-links:hover {
    color: var(--color-blue) !important;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-164 {
    padding-bottom: 164px;
}

.footer-line {
    width: 100%;
    border: 1px solid var(--color-white);
}

/* my-btn */
.myBtn {
    display: none;
    bottom: 15px;
    right: 15px;
    /* outline: none; */
    background-color: var(--color-white);
    border: 10px solid var(--color-voilet);
    color: var(--color-voilet);
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 2;
    border-radius: 50%;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: var(--color-voilet);
        backdrop-filter: blur(90px) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 400ms linear !important;
        z-index: 5;
    }

    .nav-shadow {
        backdrop-filter: blur(90px);
        background-color: var(--color-voilet);
        border: 1px solid #FFFFFF33;
    }

    .show-navbar {
        right: 0 !important;
    }

    .lh-56 {
        line-height: 40px;
    }

    .mt-100 {
        margin-top: 80px;
    }

    .pb-80 {
        padding-bottom: 60px;
    }

    .mt-115 {
        margin-top: 80px;
    }

    .pt-130 {
        padding-top: 80px;
    }

    .mb-100 {
        margin-bottom: 80px;
    }

    .pb-164 {
        padding-bottom: 120px;
    }

    .grid-card {
        width: 100%;
    }

    .grid {
        gap: 20px;
    }

    .grid-item-1 {
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .grid-item-2 {
        display: none;
    }

    .grid-item-3 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item-4 {
        display: none;
    }

    .grid-item-5 {
        grid-row: 1/3;
        grid-column: 3/4;
    }

    .grid-1,
    .grid-3,
    .grid-5 {
        height: 400px;
        object-fit: cover;
    }
}

@media (max-width:767.98px) {
    .heading {
        left: 5%;
    }

    .ready-bg {
        min-height: 300px;
        background-position: left;
    }

    .lh-56 {
        line-height: 30px;
    }

    .pb-164 {
        padding-bottom: 80px;
    }

    .mt-115 {
        margin-top: 50px;
    }

    .pb-80 {
        padding-bottom: 40px;
    }

    .pt-130 {
        padding-top: 40px;
    }

    .mt-100 {
        margin-top: 40px;
    }

    .mb-100 {
        margin-bottom: 40px;
    }

    .mb-20 {
        margin-bottom: 10px;
    }

    .mb-30 {
        margin-bottom: 10px;
    }

    .grid {
        gap: 20px;
    }

    .grid-item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item-3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-item-5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .grid-1,
    .grid-3,
    .grid-5 {
        height: 265px;
        object-fit: cover;
    }
}

@media (max-width:575.98px) {
    .heading {
        left: 2%;
    }

    .pb-164 {
        padding-bottom: 20px;
    }

    .mt-100 {
        margin-top: 10px;
    }

    .mb-100 {
        margin-bottom: 10px;
    }

    .lh-56 {
        line-height: 30px;
    }

    .lh-24 {
        line-height: 20px;
    }

    .mb-20 {
        margin-bottom: 0px;
    }

    .mb-30 {
        margin-bottom: 0px;
    }
}